php_flag display_errors off
php_flag log_errors on


#Options +FollowSymLinks
RewriteEngine On
RewriteBase /
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^(.+)$ index.php [QSA,L]